@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    height: 50px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

li{
    padding: 0 10px;
}

nav ul li{
    display: flex;
    align-items: center;
    
}

.brand img{
    height: 40px;
    padding: 4px 8px 0;
}

.brand{
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;

}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: white;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 20px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    padding-right: 0;
    background-image: url('headphone.jpeg');
    
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.icons i{
    margin-top: 12px;
    cursor: pointer;
}
i{
    margin-left: 12px;
}

.songItemContainer{
    margin-top: 45px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0; 
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 42px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin:0 23px ;

}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left:10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

